In [2]:
import pandas as pd
import os

# Ruta desde notebooks/ hacia los CSV
data_path = "../data/raw/"

# Listar archivos para confirmar que encuentra los CSV
archivos = os.listdir(data_path)
print("Archivos en la carpeta raw:", archivos)

# Cargar y mostrar las primeras filas del archivo oil.csv
stores = pd.read_csv(os.path.join(data_path, "stores.csv"))

# Mostrar las primeras filas
stores.head()

Archivos en la carpeta raw: ['test.csv', 'train.csv', 'transactions.csv', 'oil.csv', 'holidays_events.csv', 'sample_submission.csv', 'stores.csv']

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [3]:
stores.dtypes

store_nbr     int64
city         object
state        object
type         object
cluster       int64
dtype: object

In [4]:
stores.isnull().sum()

store_nbr    0
city         0
state        0
type         0
cluster      0
dtype: int64

In [6]:

stores['store_nbr'].duplicated().sum()

0